---
---
@import "main";

body{

    font-family: Helvetica-neue, sans-serif;
    background-color: #cc1a1a;
}

a {
    color: #ffffff;
 //:visited: #6fcb9f;
}

h1,h2,h3,h4,h5,h6, p {
    color: #ffff5e;
}

//alt-background (orange): 	#ffe28a;

